<!DOCTYPE html>
<html lang="en">
<head>
  <title>Skychaser Labs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="skychaser-logo" id="skychaser-logo"><%= link_to image_tag('logo.png'), root_path %></div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="header-1"><%= link_to 'About Us', "#about", class: "navbar-brand" %></li>
        <li class="header-1"><%= link_to 'Services', '#services', class: "navbar-brand" %></li>
        <li class="header-1"><%= link_to 'Portfolio', '#portfolio', class: "navbar-brand" %></li>
        <li class="header-1"><%= link_to 'Contact us', new_contact_path, target: '_blank', class: "navbar-brand" %></li>
        <li class="header-1"><%= link_to 'Blog', 'https://entrenetweb.wordpress.com/', target: '_blank', class: "navbar-brand" %></li>
      </ul>
    </div>
  </div>
</nav>
<div class="back-to-top">
    <%= link_to 'Back to Top', '#skychaser-logo', class: 'btn btn-danger btn-lg btm-right' %>
</div>
<div class="banner">
        <div class="banner-text">
            <h2 style="text-align:center; color: #fff; font-family: 'Raleway-Light', sans-serif; margin-top: 120px">Web Development + Sales Consulting</h2>
            <h3 style="text-align:center; color: #fff;  font-family: 'Raleway-Light', sans-serif">Ideate. Build. Deploy</h3>
        </div>
</div>
<h2 id="about" class="landing-sub-header" style="text-align:center">ABOUT US</h2>
    <div class="container">
        <div class="jumbotron" style="border: 1px solid #000; border-radius: 5px">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
                    <div class="who-we-are">
                        <%= image_tag('who.png') %>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 col-lg-8">
                    <h2 class="h2-text">WHO WE ARE</h2>
                    <p class="p-text">We are a team of engineers, designers and sales consultants who are driven to build exceptional websites and deliver effective sales strategies for up and coming startups and businesses. Our philosophy is centered around building products that embrace what the businesses stand for and delivering strategies that will guarantee business growth.</p>
                </div>
            </div>
        </div>
        <div class="jumbotron"  style="border: 1px solid #000; border-radius: 5px">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12 col-lg-8">
                    <h2 class="h2-text">WHAT WE DO</h2>
                    <p class="p-text">Our primary services are in website development and sales. We get an in depth understanding of your business needs and build an effective website that showcases your business / brand objectives. Based on our analysis of your business, we will also formulate a detailed sales strategy that you can put into effect immediately.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
                    <div class="who-we-are hideme">
                        <%= image_tag('what.png') %>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron"  style="border: 1px solid #000; border-radius: 5px">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
                    <div class="who-we-are">
                        <%= image_tag('why.png') %>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 col-lg-8">
                    <h2 class="h2-text">WHY US</h2>
                    <p class="p-text">We will treat your business as a premium brand and every premium brand is unique. Perfection is at the center of everything we build. We will never deliver a product that comprimises on any aspect of tech, design or functionality. For our sales services our business analysts will study your business model in detail including your past performance and future projections and craft a sales strategy that directly correlates to your current objectives.</p>
                </div>
            </div>
                </div>
    </div>
<h2 id="services" class="landing-sub-header" style="text-align:center">OUR SERVICES</h2><br /><br /><br />
    <div class="container">
               <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
                    <div class="jumbotron"  style="border: 1px solid #000; border-radius: 5px">
                    <div class="tool"><%= image_tag('tool.png') %></div>
                    <h2 class="service-header">Website Development</h2>
                    <p class="service-text">We build websites for new businesses and startups.</p>
                    <%= link_to 'Learn More', '#', :class => "btn btn-primary",  "data-toggle" => "modal", "data-target" => "#web" %>
                
                <!-- Web Development Modal -->
                    <div id="web" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                <!-- Web Development Modal Content-->
                            <div class="modal-content" style="background-color:#bfbfbf">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">WEB DEVELOPMENT FOR NEW BUSINESSES AND STARTUPS</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="jumbotron">
                                    <div class="web-services"><%= image_tag('web.png') %></div>
                                        <p class ="web-services-text" style="font-size: 18px">We strive to build effective websites for startups and small businesses. Our websites are built with Ruby on Rails and function more like web applications rather than conventional sites. Our philosophy is that functionality is a product of great tech and great design. In addition to providing a website with flawless performance our unique designs and layouts are engineered with exceptional user experience. </p>
                                    </div>
                                    <div class="jumbotron" style="height: 5px">
                                        <h3 class="core-web-features">WHAT WE PROVIDE</h3>
                                    </div>
                                    <div class="jumbotron" style="margin-top: -25px">
                                        <ul class="lower_greek">
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                                                    <div class="site-f-image"><%= image_tag('site-features/cms.png') %></div>
                                                    <h3 class="core-web-features-sub-header">Built in CMS</h3>
                                                    <p style="font-size:18px">We understand that as a business you may need to create, edit and delete content on a regular basis. Our Content Management System will allow you to do that any time.</p>
                                                </div>
                                                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                                                    <div class="site-f-image"><%= image_tag('site-features/admin.png') %></div>
                                                    <h3 class="core-web-features-sub-header">Admin Account</h3>
                                                    <p style="font-size:18px">This admin panel will only be accessible to you as our client. Here you can edit your content including your meta information for Search Engine Optimization.</p>
                                                </div>
                                                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                                                     <div class="site-f-image"><%= image_tag('site-features/arrow.png') %></div>
                                                    <h3 class="core-web-features-sub-header">Fast Production</h3>
                                                    <p style="font-size:18px">Our development time typically ranges between 2 days - 1 week. It varies depending on the complexity of the site. But our primary objective is to build a high standard product and launch it quickly so you can promote your brand.</p>
                                                </div>
                                                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                                                     <div class="site-f-image"><%= image_tag('site-features/seo.png') %></div>
                                                    <h3 class="core-web-features-sub-header">SEO driven content</h3>
                                                    <p style="font-size:18px">We provide you the tools to edit all your meta information including your titles, descriptions and keywords for all relevant pages.</p>
                                                </div>
                                                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                                                     <div class="site-f-image"><%= image_tag('site-features/fb.png') %></div>
                                                    <h3 class="core-web-features-sub-header">Social Media Integration</h3>
                                                    <p style="font-size:18px">The site will be optimized to connect users with your Facebook, Twitter, Instagram and Snapchat pages. User actions such as like, share and follow will be integrated into the code for each social platform depending on the requirements.</p>
                                                </div>
                                                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                                                     <div class="site-f-image"><%= image_tag('site-features/analytics.png') %></div>
                                                    <h3 class="core-web-features-sub-header">Analytics Integration</h3>
                                                    <p style="font-size:18px">Google Analytics will be integrated into the code for traffic reporting and breakdown. We can create a seperate account for you to access your analytics data.</p>
                                                </div>
                                                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                                                     <div class="site-f-image"><%= image_tag('site-features/responsive.png') %></div>
                                                    <h3 class="core-web-features-sub-header">Responsive Design with Interactive UX</h3>
                                                    <p style="font-size:18px">We place special emphasis on making sure your site is accessible to users of all devices across a number of resolutions. In addition we add dynamic elements to certain site features to create a more interactive experience for your users.</p>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                         </div>
                    </div>
                </div><br /><br />
            </div>
        </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
                <div class="jumbotron"  style="border: 1px solid #000; border-radius: 5px">
                    <div class="dollar"><%= image_tag('dollar.png') %></div>
                    <h2 class="service-header">Sales Consulting</h2>
                    <p class="service-text">We create strategies based on your business goals.</p>
                    <%= link_to 'Learn More', '#', :class => "btn btn-primary",  "data-toggle" => "modal", "data-target" => "#sales" %>
                
                <!-- Sales Consulting Modal -->
                    <div id="sales" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                <!-- Sales Consulting Content-->
                            <div class="modal-content" style="background-color:#bfbfbf">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">SALES CONSULTING AND STRATEGIES</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="jumbotron">
                                    <div class="sales-services"><%= image_tag('sales.jpg') %></div><br />
                                        <p class ="sales-services-text" style="font-size: 18px">It doesn't matter if you are a tech or a non tech company, your business still needs to sell. Sadly, most companies have a hard time coming up with the perfect sales strategy that works well for them.</p>
                                        <p class ="sales-services-text" style="font-size: 18px">Most businesses focus on the product or the services, but when it comes to selling them to potential audiences, it's a different ball game. It's important for any business to build a solid sales strategy at the early stage of the business (while in ideation or production). Every business is unique is some way or the other, therefore the way you sell them should also be unique to a certain degree.</p>
                                        <p class ="sales-services-text" style="font-size: 18px">We at Skychaser Labs understand this, that is why we strive to provide every business with their unique sales strategy.</p>
                                    </div>
                                    <div class="jumbotron" style="height: 5px">
                                        <h3 class="core-web-features">OUR PROCESS</h3>
                                    </div>
                                    <div class="jumbotron" style="margin-top: -25px">
                                        <ul class="lower_greek">
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                                                    <div class="site-f-image"><%= image_tag('sales/dissect.png') %></div>
                                                    <h3 class="core-web-features-sub-header">DISSECT</h3>
                                                    <p style="font-size:18px">We dissect the business to get a deeper understanding of what the business has to offer to its audiences.</p>
                                                </div>
                                                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                                                    <div class="site-f-image"><%= image_tag('sales/analyse.png') %></div>
                                                    <h3 class="core-web-features-sub-header">ANALYSE</h3>
                                                    <p style="font-size:18px">We then analyse the different aspects of the product or services.</p>
                                                </div>
                                                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                                                     <div class="site-f-image"><%= image_tag('sales/research.png') %></div>
                                                    <h3 class="core-web-features-sub-header">RESEARCH</h3>
                                                    <p style="font-size:18px">This is followed by conducting market research to know about the competition.</p>
                                                </div>
                                                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                                                     <div class="site-f-image"><%= image_tag('sales/create.png') %></div>
                                                    <h3 class="core-web-features-sub-header">CREATE</h3>
                                                    <p style="font-size:18px">A sales strategy is formulated that is focused more on the product/ service’s benefits and features rather than the product itself. .</p>
                                                </div>
                                                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                                                     <div class="site-f-image"><%= image_tag('sales/define.png') %></div>
                                                    <h3 class="core-web-features-sub-header">DEFINE</h3>
                                                    <p style="font-size:18px">We define the strategy to suit the businesses and its audience's needs.</p>
                                            </div>
                                        </ul>
                                    </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                         </div>
                <!-- end of Sales modal content -->
                    </div>
                </div><br /><br />
                <!-- end of Sales modal -->
            </div>
        </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
                    <div class="jumbotron"  style="border: 1px solid #000; border-radius: 5px">
                    <div class="pencil"><%= image_tag('pencil.png') %></div>
                    <h2 class="service-header">Content Development</h2>
                    <p class="service-text">We develop content for marketing and advertising.</p>
                    <%= link_to 'Learn More', '#', :class => "btn btn-primary",  "data-toggle" => "modal", "data-target" => "#content" %>
                
                <!-- Web Development Modal -->
                    <div id="content" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                <!-- Web Development Modal Content-->
                            <div class="modal-content" style="background-color:#bfbfbf">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">CONTENT DEVELOPMENT</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="jumbotron">
                                    <div class="web-services"><%= image_tag('content-writing.png') %></div>
                                        <p class ="web-services-text" style="font-size: 18px">We provide content writing services for brands and businesses. Our content will not only be keyword optimized, but will be targeted to the right audience for building an online reputation for a brand or business.</p>
                                    </div>
                                    <div class="jumbotron" style="height: 5px">
                                        <h3 class="core-web-features">CONTENT SERVICES</h3>
                                    </div>
                                    <div class="jumbotron" style="margin-top: -25px">
                                        <ul class="lower_greek">
                                            <li>SEO optimized articles about the brand.</li>
                                            <li>Content for blogs, social networks as well as websites.</li>
                                        </ul>
                                    </div>
                                    </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 id="portfolio" class="landing-sub-header" style="text-align:center">PORTFOLIO</h2>
    <div class="container">
        <div class="jumbotron" style="border: 1px solid #000; border-radius: 5px">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
                    <div class="who-we-are">
                        <%= link_to image_tag('wmt.png'), "http://www.wheresmytee.com/", target: '_blank' %>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 col-lg-8">
                    <h2 class="portfolio-header"><%= link_to "WHERE'S MY TEE?","http://www.wheresmytee.com/", target: '_blank' %></h2>
                    <p class="portfolio-text">We've built a T-Shirt engine called 'Where's My Tee?'. The website combines elements of social networking and ecommerce to create an unique experience for users looking for the right T-Shirt. Brands can create accounts and upload their products. Active users can save a T-Shirt to their own personal catalogue as well as follow brands to get notifications on new products.</p>
                    <%= link_to 'Access Site', "http://www.wheresmytee.com/", target: '_blank', class: "btn btn-primary btn-lg" %>
                </div>
            </div>
        </div>
        <div class="jumbotron" style="border: 1px solid #000; border-radius: 5px">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
                    <div class="who-we-are">
                        <%= link_to image_tag('felix.png'), "http://www.felixcalis.com/", target: '_blank' %>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 col-lg-8">
                    <h2 class="portfolio-header"><%= link_to "PHOTOGRAPHY PORTFOLIO","http://www.felixcalis.com/", target: '_blank' %></h2>
                    <p class="portfolio-text">We were contracted by a professional photogpraher to build a portfolio website for his personal brand. The style is minimal with the central emphasis on his work. The photographer can edit and delete his work any time.</p>
                    <%= link_to 'Access Site', "http://www.felixcalis.com/", target: '_blank', class: "btn btn-primary btn-lg" %>
                </div>
            </div>
        </div>
        <div class="jumbotron" style="border: 1px solid #000; border-radius: 5px">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
                    <div class="who-we-are">
                        <%= link_to image_tag('vg.png'), "http://www.vaibhavgupta.co.uk/", target: '_blank' %>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 col-lg-8">
                    <h2 class="portfolio-header"><%= link_to "GAME DESIGN PORTFOLIO","http://www.vaibhavgupta.co.uk/", target: '_blank' %></h2>
                    <p class="portfolio-text">We designed and developed a website for a professional game designer. The main objective of this website was to showcase his work in multiple areas such as UX, game development and animation. We made the site extremely interactive so users could gain a deep insight into his work.</p>
                    <%= link_to 'Access Site', "http://www.vaibhavgupta.co.uk/", target: '_blank', class: "btn btn-primary btn-lg" %>
                </div>
            </div>
        </div>
        <div class="jumbotron" style="border: 1px solid #000; border-radius: 5px">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
                    <div class="who-we-are">
                        <%= link_to image_tag('crk.png'), "http://www.crkannan.com/", target: '_blank' %>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 col-lg-8">
                    <h2 class="portfolio-header"><%= link_to "BRAND CONSULTANCY","http://www.crkannan.com/", target: '_blank' %></h2>
                    <p class="portfolio-text">We designed and developed a website for a brand consultant. The client requested a site that would take his years of experience as a branding and marketing professional and display them through a digital platform.</p>
                    <%= link_to 'Access Site', "http://www.crkannan.com/", target: '_blank', class: "btn btn-primary btn-lg" %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
